*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  position: relative; 
  margin: 10% 0;
}

button{
    border:none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    background-color: blue;
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
}

.results{
    display: none;
    font-family: sans-serif;
    color: black;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    
}

